body {
    background-image: url("../assets/WebsiteBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

/* Navigation Bar Menu */

#navbar {
    background-color: #ffffff;
    overflow: hidden;
    position: fixed; /* This makes the navbar fixed at the top */
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li {
    float: left;
}

#navbar ul li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar ul li a img {
    width: 28px;
    height: 28px;
}

/* ------controls the icons of logos-------------*/
.social-icon {
    width: 24px;
    height: 24px;
}

/* --Container that holds picture, seal, and bio-----*/

#wrapper {
    text-align: center;
    padding: 20px;
    padding-top: 80px;
    max-width: 1400px;
    margin: auto;
}

/* Profile Pic and Seal Container */

#image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* profile pic */

#profile-pic {
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

/* university seal */

#seal-container {
    background-color: rgba(255, 255, 255, 0.8); /* White with 80% opacity */
    padding: 15px;
    border-radius: 10px; /* Optional: rounded corners */
    margin: 20px auto;  /* Centers the container */
    display: inline-block;  /* Makes the container as wide as the content */
}

#uni-seal {
    max-width: 100px;
    height: auto;
}

/* bio */

#bio-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 100%;
}

#bio {
    font-size: 24px;
    color: #333;
}

/* More Button */

#more-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #003660;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#more-button:hover {
    background-color: #FEBC11
}








































































