body {
    background-image: url("../assets/WebsiteBackground.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

#wrapper {
    text-align: center;
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

#profile-pic {
    max-width: 900px;
    height: auto;
}

#uni-seal {
    max-width: 300px;
    height: auto;
}

#bio-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    max-width: 80%;
}

#bio {
    font-size: 30px;
    color: #333;
}

#more-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-decoration: none;
}
