body {
  background-image: url("../assets/ResumeBackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*---------Containers---------*/

#resume-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background for readability */
    border-radius: 15px; /* Rounded edges */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    max-width: 60%;
    margin-top: 80px;
}

#button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Same color as #resume-container */
    border-radius: 15px; /* Same rounded corners */
    padding: 10px; /* Spacing around the button */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*-------Download Button */

#download-button {
  display: inline-block;
    padding: 10px 20px;
    margin-bottom: 20px;
    background-color: #003660;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

#download-buttom:hover {
    background-color: #FEBC11
}

/*--------Resume-----------*/

#resume-image {
    max-width: 100%;
    height: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow around the resume */
}
